@inherits LayoutComponentBase

<div class="flex flex-col flex-wrap">
    <HeaderLayout />
    <div class="flex flex-row flex-wrap">
        <NavMenu />
        <div class="w-3/5">
            @Body
        </div>
        <POS.WebApp.Components.CartComponent />
    </div>
</div>
