<nav class="p-2 pr-6 mt-2 w-full">
    <section id="navbar">
        <ul class="list-none">
            @foreach (var item in MenuItems)
            {
                <li class="-bg--black hover:-bg--bg-black2 text-gray-400 white p-[12px]
                 rounded-[4px] text-left mt-1 font-normal text-sm ml-2">@item</li>
            }
        </ul>

    </section>

    <section class="shift">
        @* <ul>
        <li><a href="#profile">Leslee K.</a></li>
        <li><a href="#profile">Alex Hwoang.</a></li>
        <li><a href="#profile">Marry Jane.</a></li>
        </ul> *@
    </section>
</nav>