<nav class="w-1/5">
    <section id="navbar">
        <ul class="list-none">
            @foreach (var item in MenuItems)
            {
                <li class=" -bg--black hover:-bg--bg-black2 -text--white
               p-4 rounded-xl text-left mt-1 font-mono">@item</li>
            }
        </ul>

    </section>

    <section class="shift">
        <ul>
            <li><a href="#profile">Leslee K.</a></li>
            <li><a href="#profile">Alex Hwoang.</a></li>
            <li><a href="#profile">Marry Jane.</a></li>
        </ul>
    </section>
</nav>