<nav>
    <section id="navbar">
        <ul>
            <li>Menu</li>
            <li>Tables</li>
            <li>Reservation</li>
            <li>Chat</li>
            <li>Dashboard</li>
            <li>Accounting</li>
            <li>Settings</li>
        </ul>

    </section>

    <section class="shift">
        <ul>
            <li><a href="#profile">Leslee K.</a></li>
            <li><a href="#profile">Alex Hwoang.</a></li>
            <li><a href="#profile">Marry Jane.</a></li>
        </ul>
    </section>
</nav>