@using System.ComponentModel
@inject AppState AppState

@if (AppState.SelectedItem != null)
{
    <div class="fixed inset-0 z-50 flex items-center justify-center">
        <div class="relative z-50 rounded bg-white p-6 shadow-lg">
            @* Dialog content *@

            <div class="">
                
            </div>

        </div>
        <div class="fixed inset-0 bg-black opacity-50"></div>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        AppState.PropertyChanged += HandleSelectedItemChanged;
    }

    private void HandleSelectedItemChanged(object sender, PropertyChangedEventArgs e)
    {
        if (e.PropertyName == nameof(AppState.SelectedItem))
        {
            StateHasChanged();
        }
    }

    private void CloseDialog()
    {
        AppState.SelectedItem = null;
    }

    public void Dispose()
    {
        AppState.PropertyChanged -= HandleSelectedItemChanged;
    }

    // Get Discounts by itemid
    // Get Member info
    // hình ảnh item , quantity, cart item, item name,  closed button (x)
    // list of discount

}
