@inject NavigationManager navigationManager

<div class="">
    <span>Redirecting...</span>
</div>

@code {

    protected override void OnInitialized()
    {
        navigationManager.NavigateTo("/login");
    }
}