<section id="shift" class="flex flex-col justify-center items-center p-4 bg-bg-primary rounded-md text-gray-400 h-full">
    <div class="flex flex-row justify-between text-gray-400 mb-2">
        <h1>Shift-02</h1>
        <label for="shift-date-time" class="text-gray-400 text-sm">
            Monday, 6 Feb 2024 * 8:23 AM
        </label>
    </div>
    <ul class="">
        <li
            class="flex flex-row hover:bg-gray-600  w-[14rem] h-6 justify-start items-center border-[1px] border-solid border-white rounded-md mb-4 pl-2 p-5">
            <a class="flex justify-center items-center bg-gray-300 text-black border-solid border-white mr-2 p-2 rounded-full h-6 w-6 text-sm"
                href="">L</a>
            <span>Leslie K.</span>
        </li>
        <li
            class="flex flex-row hover:bg-gray-600 w-[14rem] h-4 justify-start items-center border-[1px] border-solid border-white rounded-md mb-4 pl-2 p-5">
            <a class="flex justify-center items-center bg-gray-300 text-black border-solid border-white mr-2 p-2 rounded-full h-6 w-6 text-sm"
                href="">C</a>
            <span>Cameron W.</span>
        </li>
        <li
            class="flex flex-row hover:bg-gray-600 w-[14rem] h-4 justify-start items-center border-[1px] border-solid border-white rounded-md mb-4 pl-2 p-5">
            <a class="flex justify-center items-center bg-gray-300 text-black border-solid border-white mr-2 p-2 rounded-full h-6 w-6 text-sm"
                href="">J</a>
            <span>Jacob J.</span>
        </li>
    </ul>
</section>