<div id="cart" class="-text--white size-4 w-1/5">
    <div class="">
        <label for="order">Order: 23239045895</label>
        <button>x</button>
    </div>

    <div id="items">
        <ul>
            @foreach (var item in Items)
            {
                <li><CartItemComponent Item=@item /></li>
            }
        </ul>
    </div>

    <div id="discount">
    </div>

    <div id="payment">
        <button>Cash</button>
        <button>Credit Card</button>
        <button>QR</button>
    </div>
</div>