<article id="categories">
    <ul class="flex flex-wrap justify-start">
        @if (Categories?.Count() > 0)
        {
            @foreach (var category in Categories)
            {
                <li class="flex flex-col justify-between -text--bg-black2 -bg--bg-green rounded-lg m-2 size-4 text-sm min-h-24 min-w-24 p-3 
                    hover:-bg--bg-white">
                    @((MarkupString)@category.Icon)
                    <div class="flex-none mt-3">
                        <h4>@category.Name</h4>
                        <p>@category.Products.Count() items</p>
                    </div>
                </li>
            }
        }
        else
        {
            <h1>Not found...</h1>
        }
    </ul>
</article>