<section id="footer">
    <label class="ml-2 text-sm text-gray-400" for="">&commat;2024 ePOS by Alex.</label>
    <SignOutComponent />
</section>
@code {
    [Parameter]
    public CustomerInfo CustomerInfo { get; set; }
}