@inherits LayoutComponentBase
<main class="flex h-screen flex-row flex-wrap border-solid border-gray-400">
    <section id="left-panel" class="h-[100%] flex flex-col flex-wrap justify-between rounded-sm bg-bg-primary p-8 sm:w-44 lg:w-1/5 lg:relative lg:left-0 sm:fixed sm:-left-44 sm:z-10">
        <div class="flex w-full flex-col justify-start">
            <HeaderLayout />
            <NavMenu />
        </div>
        <FooterLayout />
    </section>
    <section id="right-panel" class="flex flex-row flex-wrap sm:w-[100%] lg:w-4/5">
        @Body
    </section>
    <CartItemDialogComponent />
</main>
